
/**public style**/



/*.highlight {
    opacity: 1 !important;
}*/

/*.container {
    margin: 0 auto;
    width: 1200px;
}*/

a {
    color: #fff;
}

/*html, body {
    overflow-x: hidden;
}*/

/*body {
    min-height: 2000px;
}*/

/**main start **/


.main {
    width: 100%;
    z-index: 100;
    min-width: 1200px;
    margin: 150px auto;
}

h1 {
    margin: 150px auto 30px auto;
    text-align: center;
}

/*kai_banner_container start*/



.kai_banner_container {
    /*width: 100%;
    height: 768px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;*/
    width: 100%;
    height: 768px;
    /*position: relative;*/
    /*overflow: hidden;*/
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

    .kai_banner_container .kai_banner_body {
        white-space: nowrap;
        word-space: -4px;
        letter-spacing: -6px;
        position: relative;
        text-align: center;
        height: 100%;
        /*width: 50%;*/
    }

        /*.kai_banner_container .kai_banner_body .imgContainer {
            margin: 0 25%;
        }*/

        .kai_banner_container .kai_banner_body a {
            display: inline-block;
            width: 100%;
            background-position: center;
        }

    /*.kai_banner_container .kai_banner_body img {
            width: 100%;
        }*/

    .kai_banner_container .kai_banner_bottombtns {
        position: absolute;
        /*bottom: -180px;*/
        z-index: 200;
        text-align: center;
        overflow: hidden;
        height: 96px;
        /*width: 100%;*/
    }

        .kai_banner_container .kai_banner_bottombtns span {
            background-size: cover;
            display: inline-block;
            width: 120px;
            height: 90px;
            border: 1px solid #ddd;
            border-radius: 2px;
            opacity: 0.5
        }

    .kai_banner_container .side_btn {
        width: 45px;
        height: 45px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 200;
        margin: 50px;
        visibility: hidden;
    }

    .kai_banner_container:hover .side_btn {
        visibility: visible;
    }

    .kai_banner_container .side_btn:hover {
        border-color: rgba(0,0,0,0.2);
        border-width: 6px;
    }

    .kai_banner_container .kai_banner_prevbtn {
        left: 2.5%;
        transform: translateY(-100%) rotate(225deg);
    }

    .kai_banner_container .kai_banner_nextbtn {
        right: 2.5%;
        transform: translateY(-100%) rotate(45deg);
    }

/*kai_banner3_container start*/



.kai_banner3_container {
    width: 980px;
    position: relative;
    overflow: hidden;
}

    .kai_banner3_container .kai_banner_body {
        white-space: nowrap;
        word-space: -4px;
        letter-spacing: -6px;
        position: relative;
    }

        .kai_banner3_container .kai_banner_body div {
            display: inline-block;
            width: 100%;
            background-position: center;
        }

        .kai_banner3_container .kai_banner_body img {
            width: 100%;
        }

    .kai_banner3_container .kai_banner_bottombtns {
        position: absolute;
        bottom: 30px;
        z-index: 200;
        text-align: center;
        width: 100%;
    }

        .kai_banner3_container .kai_banner_bottombtns span {
            background-size: cover;
            display: inline-block;
            width: 120px;
            height: 60px;
            border: 1px solid #ddd;
            border-radius: 2px;
            opacity: 0.5
        }

    .kai_banner3_container .side_btn {
        width: 45px;
        height: 45px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 200;
        margin: 50px;
    }

        .kai_banner3_container .side_btn:hover {
            border-color: rgba(0,0,0,0.2);
            border-width: 6px;
        }

    .kai_banner3_container .kai_banner_prevbtn {
        left: 2.5%;
        transform: translateY(-100%) rotate(225deg);
    }

    .kai_banner3_container .kai_banner_nextbtn {
        right: 2.5%;
        transform: translateY(-100%) rotate(45deg);
    }

/*kai_banner2_container start*/



.kai_banner2_container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

    .kai_banner2_container .kai_banner_body {
        white-space: nowrap;
        word-space: -4px;
        letter-spacing: -6px;
        position: relative;
    }

        .kai_banner2_container .kai_banner_body a {
            display: inline-block;
            width: 100%;
            background-position: center;
        }

        .kai_banner2_container .kai_banner_body img {
            display: block;
            width: 100%;
        }

    .kai_banner2_container .side_btn {
        width: 45px;
        height: 45px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 200;
        margin: 50px;
    }

        .kai_banner2_container .side_btn:hover {
            border-color: rgba(0,0,0,0.2);
            border-width: 6px;
        }

    .kai_banner2_container .kai_banner_prevbtn {
        left: 2.5%;
        transform: translateY(-100%) rotate(225deg);
    }

    .kai_banner2_container .kai_banner_nextbtn {
        right: 2.5%;
        transform: translateY(-100%) rotate(45deg);
    }
